@charset "utf-8";

body {
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    color: #888888;
  }

  

h1 {
    font-family: 'Arial Hebrew';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 136px;
    color: blue;
    padding: 0px 80px;
  }

h3 {
    color: black;
}

.box {
    display: grid;
    gap: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #f2f2f2; /*わかりやすいように変えています（希望は白背景にぼかし）*/
  }
  
  .site-name {
    font-size: 32px;
    text-decoration: none;
    color: blue;
  }
  
  .site-menu {
    display: flex;
    gap: 50px;
  }
  
  .site-menu a {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #888888;
  }

.main-visual {
    position: relative;
 }

 .phrase-box {
    position: absolute;
    top: 0;
    font-size: 128px;
    line-height: 1.2;
    margin: 0;
 } 
 
 .phrase {
    padding: 0px 30px;
 }

 .main_image_container {
    margin-left: 196px;
    overflow: hidden;
    padding-top: 56px;
  }
 
 .main_image {
    max-width: 100%;
    height: auto;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0;
 }

 .about-text {
    padding: 200px 80px;
    line-height: 55px;
}

 .member-info {
    display:inline-block;
 }

 .member-box-block {
    padding: 0px 200px;
 }

 .member-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0px;
    gap: 80px;
 }