@charset "utf-8";

body,p {
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    color: #888888;
  }

h1 {
    font-family: 'Arial Hebrew';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 136px;
    color: blue;
    padding: 0px 80px;
  }

h3 {
    color: black;
}

.box {
    padding: 40px;
    display: grid;
    gap: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .header img {
    max-width: 100px;
  }
  
  .site-menu {
    display: flex;
  }
  
  .site-menu a {
    margin-left: 10px;
    text-decoration: none;
    color: #888888;
  }


.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0px;
}

 .about-text {
    padding: 120px 80px;
    line-height: 50px;
 }

 .member-info {
    display:inline-block;
 }

 .member-box-block {
    padding: 0px 200px;
 }

 .member-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0px;
    gap: 80px;
 }