@charset "utf-8";

body {
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    color: #888888;
  }

h1 {
    font-family: 'Arial Hebrew';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 136px;
    color: blue;
  }

h3 {
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .header img {
    max-width: 100px;
  }
  
  .site-menu {
    display: flex;
  }
  
  .site-menu a {
    margin-left: 10px;
    text-decoration: none;
    color: #888888;
  }

.main-visual {
    width: 1450px;
    height: 636px;
} 

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0px;
}

 